{#
/**
* @file
* Default theme implementation to display the Social Media Block.
*
* Available variables:
* - linkedin_link
* - twitter_link
* - facebook_link
* - youtube_link
*
* @see SocialMediaBlock.php
*
* @ingroup themeable
*/
#}
<div{{ attributes }}>
  {{ linkedin_link }}
  {{ twitter_link }}
  {{ facebook_link }}
  {{ youtube_link }}
</div>
